@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active {
        @apply text-white rounded-lg bg-admin-900 dark:text-white dark:hover:bg-gray-700;
    }
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

.font-inter-regular {
    font-family: 'Inter';
    font-weight: 400;
}

.font-inter-bold {
    font-family: 'Inter';
    font-weight: 700;
}