@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hover-effect {
        @apply transform transition-transform duration-200 ease-in-out hover:scale-105;
    }
    .input-number {
        @apply w-20 h-9 py-2 px-3 border border-custom-grey shadow-sm focus:outline-none focus:border-buyer-green dark:focus:border-white placeholder:text-xs;
    }
    .label-input-number{
        @apply py-4 px-3 text-gray-900 text-xs
    }
    .label-radio {
        @apply cursor-pointer py-2 px-4 border-2 border-custom-grey shadow-sm peer-checked:border-green-500 peer-checked:bg-green-100
    }
    .select-form{
        @apply py-2 px-4 border-2 border-custom-grey text-gray-900 text-sm shadow-sm focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500
    }
    .textarea-form{
        @apply block p-2.5 w-full text-sm text-gray-900 bg-custom-grey border border-custom-grey shadow-sm focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500
    }

    /* button */
    .button-grey{
        @apply inline-flex items-center px-5 py-2 bg-gray-400 text-center font-medium text-white rounded-lg text-sm hover:bg-gray-700 focus:outline-none focus:bg-gray-700
    }
    .button-green{
        @apply inline-flex items-center px-5 py-2 bg-buyer-green text-center font-medium text-white rounded-lg text-sm hover:bg-green-800 focus:outline-none focus:bg-green-800
    }
    .button-green-admin{
        @apply inline-flex items-center px-5 py-2 text-sm text-center font-medium text-white bg-admin-green rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800
    }
    .button-red{
        @apply inline-flex items-center px-5 py-2 bg-red-500 text-center font-medium text-white rounded-lg text-sm hover:bg-red-800 focus:outline-none focus:bg-red-800
    }
    .button-yellow{
        @apply inline-flex items-center px-5 py-2 bg-yellow-400 text-center font-medium text-white rounded-lg text-sm hover:bg-yellow-800 focus:outline-none focus:bg-yellow-800
    }
    .button-blue{
        @apply inline-flex items-center px-5 py-2 bg-blue-500 text-center font-medium text-white rounded-lg text-sm hover:bg-blue-800 focus:outline-none focus:bg-blue-800
    }

    .image{
        @apply w-full h-full object-cover mx-auto
    }
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

.font-inter-regular {
    font-family: "Inter";
    font-weight: 400;
}

.font-inter-bold {
    font-family: "Inter";
    font-weight: 700;
}
